name: CI
on:
  pull_request: {}
  push:
    branches: [main]
jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        run: curl -LsSf https://astral.sh/uv/install.sh | sh
      - name: Install deps
        run: uv sync --dev
      - name: Run tests
        run: uv run pytest tests/
